@import "/styles/variables.module.scss";

.wraper {
    margin-top: $header-height;

    .intro {
        height: 100%;
        display: flex;
        background-color: $transparent-color;
        position: relative;
        overflow: hidden;

        &::before {
            content: "_";
            display: block;
            width: 100%;
            box-shadow: 0 10px 40px $body-color;
            position: absolute;
            bottom: 100%;
            z-index: 10;
        }

        &::after {
            content: "_";
            display: block;
            width: 100%;
            box-shadow: 0 -10px 40px $body-color;
            position: absolute;
            top: 100%;
            z-index: 10;
        }
    }

    .content {
        .header {
            background-color: $dark-color;
            height: 56px;
            overflow: hidden;
            position: -webkit-sticky;
            position: sticky;
            top: $header-height;
            // box-shadow: $text-color 0px 2px 2px;
            z-index: 10;

            & > * {
                height: 100%;
            }

            .sidebar {
                background-color: $dark-color;
            }

            .main {
                // background-color: $dark-color;
                display: flex;
                align-items: center;
                gap: 12px;

                & > * {
                    background-color: $transparent-color;
                    color: $light-color;
                    border: none;
                    flex: 1;
                    height: 70%;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $grey-color;
                    }

                    & svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                & > .active {
                    background-color: $primary-color;
                    color: $dark-color;
                }
            }

            .roles {
                background-color: $dark-color;
            }
        }

        .body {
            align-items: start;
            padding: $wraper-padding;
            background-color: $body-color;
            overflow-x: hidden;

            .sidebar {
            }

            .main {
                // background-color: $grey-color;
            }

            .roles {
            }
        }
    }
}
