@import "/styles/variables.module.scss";

.wraper {
    margin-top: $header-height;

    .intro {
        height: 100%;
        display: flex;
        background-color: $transparent-color;
        position: relative;
        overflow: hidden;

        &::before {
            content: "_";
            display: block;
            width: 100%;
            box-shadow: 0 10px 40px $body-color;
            position: absolute;
            bottom: 100%;
            z-index: 10;
        }

        &::after {
            content: "_";
            display: block;
            width: 100%;
            box-shadow: 0 -10px 40px $body-color;
            position: absolute;
            top: 100%;
            z-index: 10;
        }
    }

    .content {
        .header {
            background-color: $dark-color;
            height: 56px;
            overflow: hidden;
            position: -webkit-sticky;
            position: sticky;
            top: $header-height;
            z-index: 10;

            & > * {
                height: 100%;
            }

            .sidebar {
                display: flex;
                padding: $wraper-padding;

                & > * {
                    overflow: hidden;
                    text-decoration: none;

                    display: flex;
                    align-items: center;
                    gap: $padding;

                    & > img {
                        width: 36px;
                        height: 36px;
                        object-fit: contain;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    & .name {
                        color: $text-color;
                        font-weight: 700;
                    }
                }
            }

            .main {
                // background-color: $dark-color;
                display: flex;
                align-items: center;
                gap: 12px;

                & > * {
                    background-color: $transparent-color;
                    color: $light-color;
                    border: none;
                    flex: 1;
                    height: 70%;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $grey-color;
                    }

                    & svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                & > .active {
                    // background-color: $primary-color;
                    // color: $dark-color;
                    color: $primary-color;
                    border-bottom: 0.2rem solid $primary-color;
                }
            }

            .roles {
                display: flex;
                align-items: center;
                padding: $wraper-padding;
                position: relative;

                & > *:first-child {
                    flex: 1;
                    padding: 4px 40px 4px 12px;
                    border-radius: 20px;
                    position: relative;
                    border: none;
                    background-color: $transparent-color;
                    border-bottom: 2px solid $primary-color;
                    border-top: 1px solid $grey-color;
                    color: $text-color;

                    &:focus {
                        outline: none;
                        border-top: 1px solid $light-color;
                    }
                }

                & > *:last-child {
                    width: 36px;
                    height: 36px;
                    padding: 10px;
                    position: absolute;
                    right: $padding;
                    color: $primary-color;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        cursor: default;
                        color: $second-color;
                    }
                }
            }
        }

        .body {
            align-items: start;
            background-color: $body-color;
            position: relative;

            .sidebar,
            .roles {
                padding: $wraper-padding;
                overflow: hidden;
                position: -webkit-sticky;
                position: sticky;
                top: calc($header-height + 56px);
                z-index: 10;

                display: flex;
                flex-direction: column;

                & > h5 {
                    &:hover {
                        background-color: $transparent-color;
                        cursor: default;
                    }
                }

                & > * {
                    // background-color: $grey-color;
                    margin-top: 8px;
                    padding: 8px 16px;
                    border-radius: 8px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: $text-color;

                    text-decoration: none;

                    & > img {
                        width: 36px;
                        height: 36px;
                        background-color: $white-color;
                        object-fit: contain;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    & > * {
                        margin: 0;
                        font-weight: 600;
                        user-select: none;
                    }
                    &:hover {
                        background-color: $grey-color;
                        cursor: pointer;
                    }
                    &:active {
                        background-color: $dark-color;
                        cursor: default;
                    }
                }
            }

            .main {
                // background-color: $grey-color;
            }
        }
    }
}

.overlay {
    z-index: 10;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: form-fade-in 0.3s forwards;

    &.formOut {
        animation: form-fade-out 0.3s forwards;
    }
}
