@import "/styles/variables.module.scss";

.wraper {
    font-family: $font-family;
    height: $header-height;
    // overflow: hidden;
    background-color: $body-color;
    box-shadow: $text-color 0px 0px 4px;
    padding: $wraper-padding;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;

    .content {
        height: inherit;
        display: flex;
        justify-content: space-between;

        .logo {
            background-color: $primary-color;
            position: relative;

            display: flex;
            align-items: center;

            &::before {
                content: "";
                width: 100vw;
                height: 100%;
                background-color: inherit;

                position: absolute;
                right: 100%;
            }
            &::after {
                content: "";
                border-top: $header-height solid $primary-color;
                border-right: 40px solid $transparent-color;
                position: absolute;
                left: 100%;
            }

            img {
                width: 60px;
                height: 36px;
                object-fit: contain;
            }

            .name-page {
                padding: 0 16px;
                background: -webkit-linear-gradient(0deg, $body-color, $success-color, $body-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .features {
            // width: 844px;
            flex: 1;
            height: 60px;
            background-color: $transparent-color;
            // background-image: linear-gradient(90deg, $transparent-color, $white-color, $white-color);
            position: relative;

            display: flex;
            flex-direction: row-reverse;
            justify-content: right;
            align-items: center;
            gap: 16px;

            &::before {
                content: "";
                width: 100vw;
                height: 100%;
                background-color: inherit;

                position: absolute;
                left: 100%;
            }

            .user {
                height: 40px;
                border-radius: 20px;
                background-color: $user-bg;

                display: flex;
                flex-direction: row-reverse;
                justify-content: right;
                align-items: center;

                &:hover {
                    cursor: default;
                }

                .avatar {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                    margin-right: 4px;
                    background-color: $white-color;
                    border-radius: 50%;
                    border: thin solid $primary-color;
                    overflow: hidden;

                    display: flex;
                    justify-content: center;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 101%;
                        height: 101%;
                        object-fit: contain;
                    }
                }

                .lastname {
                    padding: 0 15px 0 25px;
                    font-size: 16px;
                    font-weight: 700;
                }

                .user-tooltip {
                    max-width: 600px;
                    background: $body-color;
                    box-shadow: 0 0 4px $text-color;
                    margin-top: 8px;

                    &__header {
                        background: inherit;
                        border-bottom: thin solid $text-color;
                        padding: 4px;

                        &::before {
                            border-bottom: none;
                        }

                        &-container {
                            color: $text-color;
                            padding: 12px 20px;
                            margin: 4px 0;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            text-decoration: none;
                            transition: all ease-in-out 0.2s;

                            &:hover {
                                color: $primary-color;
                                background-color: $dark-color;
                            }

                            &--avatar {
                                width: 48px;
                                height: 48px;
                                background: $white-color;
                                object-fit: contain;
                                border-radius: 50%;
                                border: 2px solid $primary-color;
                                overflow: hidden;
                            }

                            &--body {
                                flex: 1;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                & > * {
                                    margin: 0;
                                    font-weight: 700;
                                }

                                & > *:last-child {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }

                    &__body {
                        padding: 4px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        overflow: hidden;

                        .item {
                            text-decoration: none;

                            & > * {
                                margin: 0;
                                padding: 8px 20px;
                                color: $text-color;

                                font-weight: 700;
                                border-radius: 4px;
                                transition: all ease-in-out 0.2s;

                                &:hover {
                                    color: $primary-color;
                                    background-color: $dark-color;
                                }
                            }
                        }

                        hr {
                            margin: 0;
                            border-top: thin solid $text-color;
                        }
                    }
                }

                main {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    padding: 4px;

                    .item {
                        padding: 8px 16px;
                        color: var(--text);
                        border-radius: 4px;
                        margin: 2px 0;
                        transition: all ease-in-out 0.2s;

                        &:hover {
                            cursor: pointer;
                            color: var(--primary);
                            background-color: var(--dark-transparent);
                        }
                    }

                    .bulkhead {
                        width: var(--parent-width);
                        height: 1px;
                        margin: 4px 0;
                        background-color: var(--dark-transparent);
                    }
                }
            }
        }

        .notify {
            width: 28px;
            height: 28px;
            padding: 0 4px;

            &:hover {
                cursor: pointer;
                & > * {
                    color: $bell-color;
                }
            }

            & > * {
                width: 100%;
                height: 100%;
                color: $primary-color;
            }
        }

        .other-link {
            & > * {
                text-decoration: none;
                color: $text-color;

                & > * {
                    margin: 0;
                    font-weight: 700;
                    position: relative;

                    background: -webkit-linear-gradient(
                        60deg,
                        $success-color,
                        $success-color,
                        $text-color,
                        $text-color,
                        $success-color,
                        $success-color,
                        $text-color,
                        $text-color
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: -8px;
                        background-color: $primary-color;
                        width: 0px;
                        height: 2px;
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        animation: gradient-text-color 0.3s linear infinite;

                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .overlay {
        z-index: 9;
        background-color: #00000080;
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: form-fade-in 0.3s forwards;

        &.formOut {
            animation: form-fade-out 0.3s forwards;
        }
    }
}
