@import "/styles/variables.module.scss";

.wraper {
    height: $header-height;
    // overflow: hidden;
    background-color: $body-color;
    box-shadow: $text-color 0px 0px 4px;
    padding: $wraper-padding;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;

    .content {
        height: inherit;
        display: flex;
        justify-content: space-between;

        .logo {
            background-color: $primary-color;
            position: relative;

            display: flex;
            align-items: center;
            border-right: thin solid $primary-color;

            &::before {
                content: "";
                width: 100vw;
                height: 100%;
                background-color: inherit;

                position: absolute;
                right: 100%;
            }
            &::after {
                content: "";
                border-top: $header-height solid $primary-color;
                border-right: 40px solid $transparent-color;
                position: absolute;
                left: 100%;
            }

            img {
                width: 60px;
                height: 36px;
                object-fit: contain;
            }

            .name-page {
                padding: 0 16px;
                background: -webkit-linear-gradient(0deg, $body-color, $success-color, $body-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .back {
            margin-left: 48px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            transition: all 0.2s ease-in-out;

            & > * {
                margin: 0;
            }

            &:hover {
                cursor: pointer;
                margin-left: 40px;
                gap: 16px;
            }
        }

        .features {
            // width: 844px;
            flex: 1;
            height: 60px;
            background-color: $transparent-color;
            // background-image: linear-gradient(90deg, $transparent-color, $white-color, $white-color);
            position: relative;

            display: flex;
            flex-direction: row-reverse;
            justify-content: right;
            align-items: center;
            gap: 16px;

            &::before {
                content: "";
                width: 100vw;
                height: 100%;
                background-color: inherit;

                position: absolute;
                left: 100%;
            }
        }
    }
    .overlay {
        z-index: 9;
        background-color: #00000080;
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: form-signin-fade-in 0.3s forwards;

        &.formOut {
            animation: form-signin-fade-out 0.3s forwards;
        }
    }
}
