@import "/styles/variables.module.scss";

.wraper {
    // background-color: bisque;
    width: 100%;
    height: $swiper-height;
    margin: auto 0;

    .slide {
        width: 100%;
        height: inherit;
    }
}
