$font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";

$body-color: #121212;
$text-color: #efede6;

$primary-color: #2fc47f;
$primary-light-color: #cbfac7;
$second-color: #ffe814;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #272727;
$white-color: #ffffff;
$transparent-color: transparent;

$user-bg: #202020;

$header-height: 60px;
$navlink-height: 70px;

$wraper-padding: 0 12px;

@keyframes form-fade-in {
    0% {
        opacity: 0;
        right: -400px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes form-fade-out {
    0% {
        opacity: 1;
        right: 0;
    }
    100% {
        opacity: 0;
        right: -400px;
    }
}

@keyframes gradient-text-color {
    0% {
        background: -webkit-linear-gradient(
            60deg,
            $success-color,
            $success-color,
            $text-color,
            $text-color,
            $success-color,
            $success-color,
            $text-color,
            $text-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: -webkit-linear-gradient(
            60deg,
            $text-color,
            $success-color,
            $success-color,
            $text-color,
            $text-color,
            $success-color,
            $success-color,
            $text-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: -webkit-linear-gradient(
            60deg,
            $text-color,
            $text-color,
            $success-color,
            $success-color,
            $text-color,
            $text-color,
            $success-color,
            $success-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background: -webkit-linear-gradient(
            60deg,
            $success-color,
            $text-color,
            $text-color,
            $success-color,
            $success-color,
            $text-color,
            $text-color,
            $success-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient(
            60deg,
            $success-color,
            $success-color,
            $text-color,
            $text-color,
            $success-color,
            $success-color,
            $text-color,
            $text-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
